body{
    text-align: center;
}

ul{
    text-decoration: none;
}

ul li{
    display: block;
}
a{
    text-decoration: none;
}
.search-part{
    background-color: rgb(202, 200, 200);
}

.search-part button{
    margin-top: 10px;
}
.search-part input{
    width:400px;
}
.boxs{
    width: 100%;
}

.box{
    padding: 60px 50px;
    display: inline-block;
    margin: 5px;
    align-items: center;
    background-color: aqua;
    height: auto;
}
