body {
    background-color: rgb(248, 160, 144);
    text-align: center;
}

header .baslik1{
    color: crimson;
    font-size: 26px;
}

ul{
    list-style: none;
}
nav ul li {
    display: inline-block;
    color: darkblue;
    font-size: 25px;
    margin: 10px;
}
a{
    text-decoration: none;
}

.baslik2{
    color: crimson;
    font-size: 20px;
}

div .imgs{
    margin-top: 70px;
}